<template>
  <div>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
    <codemirror v-model="content" ></codemirror>
      <ion-textarea id="editor">

      </ion-textarea>

    </ion-content>
  </div>
</template>

<script>
import { codemirror } from 'vue-codemirror'
import 'codemirror/mode/javascript/javascript.js'

export default {
  name: 'Modal',
  created: function(){

  },
  props: {
    title: { type: String, default: 'uCPE Configuration' },
  },
  data() {
    return {
      content: 'Content'
    }
  },
}
</script>
