<template>
  <ion-menu side="start" contentId="menu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
        <ion-item button @click="$router.push('/')">
          <ion-icon slot="start" name='md-star'/>
            <ion-label>
              Home
            </ion-label>
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item button @click="$router.push('/settings')">
            <ion-icon slot="start" name='md-star'></ion-icon>
              <ion-label>
                {{ $t('settings') }}
              </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
</template>
