<template>
  <ion-content>
    <ion-card>
      <ion-thumbnail slot="start">
        <ion-img src="../src/device-and-hardware.png"></ion-img>
      </ion-thumbnail>
      <ion-card-header>
        <ion-card-subtitle>Title</ion-card-subtitle>
        <ion-card-title>Skeleton</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Here will be content
      </ion-card-content>
    </ion-card>
  </ion-content>
</template>
