<template>
  <ion-app>
    <sidebar/>
    <router-view></router-view>
  </ion-app>
</template>

<script>
import sidebar from './components/sidebar.vue'
import { codemirror } from 'vue-codemirror'
import 'codemirror/lib/codemirror.css'

export default {
  name: 'centralManager',
  components : {
    sidebar,
    codemirror
  }
}
</script>
