<template>
  <ion-page>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button ></ion-menu-button>
          <ion-menu-toggle></ion-menu-toggle>
        </ion-buttons>
        <ion-title>central Manager uCPE</ion-title>
      </ion-toolbar>
      <ion-vue-router main id="menu" />
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" v-for="cpe in cpes" :key="cpe.id">
            <ion-card>
              <ion-thumbnail slot="start">
                <ion-img src="https://www.iconhot.com/icon/png/devine-icons-part-2/256/device-and-hardware.png"></ion-img>
              </ion-thumbnail>
              <ion-card-header>
                <ion-card-subtitle>Customer: {{cpe.customer}}</ion-card-subtitle>
                <ion-card-subtitle>IP: {{cpe.ip}}</ion-card-subtitle>
                <ion-card-title>{{cpe.name}}
                  <ion-chip>
                    <ion-label v-if="cpe.state == 'initial'" color="secondary">{{cpe.state}}</ion-label>
                    <ion-label v-else-if="cpe.state == 'configured'" color="success">{{cpe.state}}</ion-label>
                    <ion-label v-else color="warning">No state available</ion-label>
                  </ion-chip>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
              <ion-title size="small">uCPE Actions:</ion-title>
              <ion-grid>
                <ion-row>
                  <ion-col size="4" >
                    <ion-button expand="block" @click="openModal">Edit Config</ion-button>
                  </ion-col>
                  <ion-col size="4" >
                    <ion-button @click="pushConfig" expand="block">Push Config</ion-button>
                  </ion-col>
                  <ion-col size="4">
                    <ion-button expand="block">Build Config</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
                
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import ucpe_overview from '../components/ucpe_overview.vue'
import configshow from '../components/configshow.vue'

export default {
  data: function(){
    return {
      cpes: [],
      configContent: this.getConfig('id1'),
      editor: null
    }
  },
  mounted: function(){
    this.loadCpes();
  },
  methods: {
    loadCpes: function(){
      this.$api('ucpes', {method: 'GET'}).then(function(response){
        this.cpes = response;
      }.bind(this));
    },
    openModal: function() {
      return this.$ionic.modalController
        .create({
          component: configshow,
          componentProps: {
            data: {
              content: this.configContent, // hard coded id for demo
            },
            propsData: {
              title: this.cpes[0].name,
            },
          },
        })
        .then(m => m.present())
    },
    getConfig: function(id){
      this.$api(`config/${id}`, {method: 'GET'}).then(function(response){
        this.configContent =  JSON.stringify(response, null, " ");
      }.bind(this));
    },
    pushConfig: function(){
      this.$ucpe_id1_api(`config`, this.configContent).then(function(response){
        this.configContent =  JSON.stringify(response, null, " ");
      }.bind(this));
    }
  },
  components : {
    ucpe_overview,
  }
}
</script>

<style lang="scss" scoped>
$testcolor: #00ffff;
.test{
  color: $testcolor;
}
.button{
margin:20;
padding:20;
text-align: center;
}
</style>
